.root {
	height: 100vh;
	width: 100vw;
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header {
		border: 1px solid yellow;
		height: 5%;
	}

	.content {
		border: 1px solid orange;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 88%;
	}

	.main {
		border: 1px solid red;
		width: 100%;

		&.active_aside {
			width: 75%;
		}

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 10%;
			border: 1px solid white;
		}
		.timeline {
			height: 90%;
			border: 1px solid red;
			overflow: auto;
		}
	}

	.aside {
		border: 1px solid blue;
		display: none;

		&.active_aside {
			width: 25%;
		}
	}

	.footer {
		background-color: #121212;
		height: 7%;
		display: flex;
		justify-items: center;
	}
}
