.formContainer {
	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 20px;

		label {
			display: block;
			margin-bottom: 5px;
			margin-right: 20px;

			input,
			select {
				width: 100%;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
		}

		button {
			background: white;
			border: none;
			color: black;
			font-size: 14px;
			padding: 10px 12px;
			margin-right: 10px;
			border-radius: 4px;
			cursor: pointer;

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}
}
