/* [project]/src/components/timeline/parts/baseline.module.scss.module.css [app-client] (css) */
.baseline-module-scss-module__e7t79a__baseline {
  border-top: 1px solid #fff;
  flex-basis: 100%;
  display: flex;
}

.baseline-module-scss-module__e7t79a__year {
  white-space: nowrap;
  width: 1px;
  position: relative;
  overflow: visible;
}

.baseline-module-scss-module__e7t79a__year:after {
  content: " ";
  background-color: #fff;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -3px;
  left: -3px;
}

.baseline-module-scss-module__e7t79a__year:before {
  content: " ";
  border-left: 1px solid #fff;
}

.baseline-module-scss-module__e7t79a__year_text {
  position: relative;
  top: 24px;
  left: -16px;
}

/* [project]/src/components/timeline/timeline.module.scss.module.css [app-client] (css) */
.timeline-module-scss-module__xP3TOq__wrapper {
  flex-wrap: wrap;
  margin-top: 60px;
  display: flex;
  position: relative;
}

/* [project]/src/components/timeline/parts/event.module.scss.module.css [app-client] (css) */
.event-module-scss-module__GTiA_W__line {
  margin-bottom: 8px;
  display: block;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__line_wrapper {
  position: relative;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__title_wrapper {
  white-space: nowrap;
  justify-content: space-between;
  margin: 4px;
  display: flex;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__title_wrapper.event-module-scss-module__GTiA_W__isLandmark {
  color: red;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__title {
  margin-right: 8px;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__element {
  color: #fff;
  background-color: #fff;
  justify-content: space-between;
  align-items: stretch;
  height: 24px;
  display: flex;
}

.event-module-scss-module__GTiA_W__line .event-module-scss-module__GTiA_W__element.event-module-scss-module__GTiA_W__isLandmark {
  background-color: red;
}

.event-module-scss-module__GTiA_W__line {
  width: 100%;
  height: auto;
}

.event-module-scss-module__GTiA_W__line_start, .event-module-scss-module__GTiA_W__line_end {
  width: 20px;
  height: 24px;
}

.event-module-scss-module__GTiA_W__landmark {
  border-left: 1px dashed red;
  height: 100%;
  position: absolute;
  top: 0;
}

/* [project]/src/components/timeline/parts/labels.module.scss.module.css [app-client] (css) */
.labels-module-scss-module__fEw14q__labels {
  border: 1px solid red;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  list-style-type: none;
  display: flex;
}

.labels-module-scss-module__fEw14q__labels li {
  margin: 10px;
}

/* [project]/src/styles/main.module.scss.module.css [app-client] (css) */
.main-module-scss-module__ofRKla__root {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.main-module-scss-module__ofRKla__header {
  background-color: #000;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.main-module-scss-module__ofRKla__header img {
  width: 80px;
}

.main-module-scss-module__ofRKla__content {
  flex: 1;
  min-height: 0;
  display: flex;
}

.main-module-scss-module__ofRKla__aside {
  flex-shrink: 0;
  display: none;
}

.main-module-scss-module__ofRKla__main {
  flex: 1;
  padding: 20px 40px;
  overflow: auto;
}

.main-module-scss-module__ofRKla__title {
  text-align: center;
  width: 100%;
  position: absolute;
}

.main-module-scss-module__ofRKla__footer {
  background-color: #8a2be2;
  flex-shrink: 0;
}

/*# sourceMappingURL=src_e00115f4._.css.map*/