.baseline {
	position: sticky;
	bottom: 20px;
	margin: 0 50px;
	z-index: 999;
	display: flex;
	flex-direction: row;
	height: 24px;

	li {
		position: relative;
		list-style: none;
		width: 1px;
		white-space: nowrap;
		height: inherit;
		margin: 0;
		padding: 0;

		&::before {
			content: '';
			border-left: 1px solid white;
			height: 8px;
		}

		span {
			position: relative;
			left: 4px;
		}

		.era {
			font-size: 14px;
		}
	}
}
