.baseline {
  display: flex;
  border-top: 1px solid white;
  flex-basis: 100%;
}

.year {
  position: relative;
  width: 1px;
  overflow: visible;
  white-space: nowrap;

  &::after {
    content: " ";
    position: absolute;
    background-color: white;
    width: 8px;
    height: 8px;
    top: -3px;
    left: -3px;
    border-radius: 4px;
  }

  &::before {
    content: " ";
    border-left: 1px solid white;
  }
}

.year_text {
  position: relative;
  top: 24px;
  left: -16px;
}
