.labels {
	display: flex;
	justify-items: center;
	list-style-type: none;

	li {
		button {
			font-size: 16px;
			color: #4a6da7;
			padding: 6px 12px;

			&.active {
				color: #ededed;
			}
		}
	}
}
