.formContainer {
	ul {
		margin: 30px 40px;
		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			border-bottom: 1px solid hsla(0, 0%, 12%, 1);

			button {
				background-color: transparent;
				color: white;
				border: none;
				border-left: 1px solid hsla(0, 0%, 12%, 1);
				padding-right: 10px;
				padding: 10px;

				&:first-child {
					margin-left: auto;
				}
			}
		}
	}

	form {
		margin: 30px 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		label {
			display: block;
			text-align: left;
			margin-bottom: 20px;
			width: 100%;

			&:first-child {
				margin-left: 0;
			}

			input,
			select {
				box-shadow: none;
				appearance: none;
				width: 100%;
				margin-top: 8px;
				padding: 6px;
				background-color: hsla(0, 0%, 0%, 0.8);
				border-bottom: 1px solid hsla(0, 0%, 12%, 1);
				border-radius: 4px;
				color: white;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			gap: 16px;
			width: 100%;
			justify-content: space-between;
		}

		button {
			background: white;
			border: none;
			color: black;
			font-size: 14px;
			padding: 10px 12px;
			margin-top: 10px;

			border-radius: 4px;
			cursor: pointer;

			&:first-child {
				margin-right: auto;
			}

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}
}
