li.event {
	width: 100%;
	padding: 0;
	margin-bottom: 10px;

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-right: 4px;
	}

	.mainImage {
		border-radius: 50%;
		border: 1px solid white;
	}

	.wrapper {
		display: flex;
		color: white;
	}

	.line {
		height: 24px;
		margin-right: 8px;

		.line_inner_start {
			background-color: rgb(56, 242, 193);
		}

		.line_inner {
			height: inherit;
			background-color: rgb(56, 242, 193);
			display: flex;
			justify-content: space-between;
			color: white;
			align-items: center;

			padding: 4px 6px;

			.era {
				font-size: 12px;
			}
		}

		.line_inner_end {
			background-color: rgb(56, 242, 193);
		}
	}
}
