li.event {
	margin-bottom: 10px;

	.isLandmark {
		&::after {
			position: absolute;
			top: 0;
			content: '';
			border: 1px dashed red;
			height: 100%;
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	button {
		display: none;
	}

	&:hover {
		button {
			display: block;
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin-right: 4px;
			color: white;
		}
	}

	.mainImage {
		border-radius: 50%;
		border: 1px solid white;
	}

	.wrapper {
		display: flex;
		color: white;
	}

	.line {
		display: flex;
		height: 24px;
		margin-right: 8px;

		.line_inner_start {
			height: inherit;
			background-color: rgb(37, 140, 112);
			width: 24px;
		}

		.line_inner {
			height: inherit;
			background-color: rgb(56, 242, 193);
			width: 100%;
		}

		.line_inner_end {
			height: inherit;
			width: 24px;
			background-color: rgb(55, 138, 116);
		}
	}
}
